<a href="https://colab.research.google.com/github/Simon-creator-jara/Inteligencia_artificial/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=d04c21d3fe07783ac2d8a145c33c35d0678fa290e4d17e5740d62980109e27f4
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [3]:
import pandas as pd 
pd.read_excel('pyspark.xlsx')

        Name  age
0      Krish   31
1  Sudharush   30
2      Sunny   29

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [22]:
df_pyspark=spark.read.csv('pyspark.csv',sep=',')

In [23]:
df_pyspark.show()

+-------------------+
|                _c0|
+-------------------+
|Name;age;experience|
|         Krish;31;2|
|     Sudharush;30;3|
|         Sunny;29;4|
+-------------------+

In [96]:
df_pyspark=spark.read.option("delimiter",";").option( "header","true").csv('pyspark.csv',inferSchema=True)

In [58]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [59]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, experience=2, salary=30000),
 Row(Name='Sudharush', age=30, experience=3, salary=25000),
 Row(Name='Sunny', age=29, experience=4, salary=20000)]

In [60]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [41]:
df_pyspark.columns

['Name', 'age', 'experience']

In [44]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [47]:
df_pyspark['Name']

Column<'Name'>

In [48]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [50]:
df_pyspark.describe().show()

+-------+-----+----+----------+
|summary| Name| age|experience|
+-------+-----+----+----------+
|  count|    3|   3|         3|
|   mean| null|30.0|       3.0|
| stddev| null| 1.0|       1.0|
|    min|Krish|  29|         2|
|    max|Sunny|  31|         4|
+-------+-----+----+----------+

In [52]:
df_pyspark=df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [53]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|age|experience|Experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|         2|                       4|
|Sudharush| 30|         3|                       5|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [54]:
df_pyspark.drop('Experience after 2 years')

DataFrame[Name: string, age: int, experience: int]

In [55]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|age|experience|Experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|         2|                       4|
|Sudharush| 30|         3|                       5|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [56]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------------------------+
| New Name|age|experience|Experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|         2|                       4|
|Sudharush| 30|         3|                       5|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [61]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|experience|salary|
+---------+----+----------+------+
|    Krish|  31|         2| 30000|
|Sudharush|  30|         3| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [62]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|         2| 30000|
|Sudharush| 30|         3| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [64]:
df_pyspark.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|         2| 30000|
|Sudharush| 30|         3| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [71]:
df_pyspark.na.drop(how='any',thresh=1).show()

+---------+----+----------+------+
|     Name| age|experience|salary|
+---------+----+----------+------+
|    Krish|  31|         2| 30000|
|Sudharush|  30|         3| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [72]:
df_pyspark.na.drop(how='any',subset=['Experience']).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|         2| 30000|
|Sudharush| 30|         3| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [75]:
df_pyspark.na.fill(0).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|         2| 30000|
|Sudharush| 30|         3| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|     null| 34|        10| 38000|
|     null| 36|         0|     0|
+---------+---+----------+------+

In [78]:
from pyspark.ml.feature import Imputer 

imputer=Imputer(
  inputCols=['age','experience','salary'],
  outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]  

).setStrategy('mean')

In [79]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|experience|salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|         2| 30000|         31|                 2|         30000|
|Sudharush|  30|         3| 25000|         30|                 3|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 3|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 3|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

In [81]:
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|experience|salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [83]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [85]:
df_pyspark.filter(df_pyspark['salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|experience|salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [87]:
df_pyspark.filter((df_pyspark['salary']<=20000) & (df_pyspark['salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|experience|salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [89]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [91]:
##Group by
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [94]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [95]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [97]:
from pyspark.ml.feature import VectorAssembler
vector=VectorAssembler(inputCols=['age','Experience'],outputCol='Independent Feature')

In [98]:
output=vector.transform(df_pyspark)

In [99]:
output.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Independent Feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [100]:
finalized_data=output.select('Independent Feature','Salary')

In [101]:
finalized_data.show()

+-------------------+------+
|Independent Feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 20000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
+-------------------+------+

In [103]:
from pyspark.ml.regression import LinearRegression

train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Feature', labelCol='Salary')
regressor=regressor.fit(train_data)

In [104]:
regressor.coefficients

DenseVector([-176.3341, 1320.1856])

In [105]:
regressor.intercept

19812.064965197555

In [106]:
pred_results=regressor.evaluate(test_data)

In [107]:
pred_results.predictions.show()

+-------------------+------+------------------+
|Independent Feature|Salary|        prediction|
+-------------------+------+------------------+
|         [21.0,1.0]| 15000|17429.234338747123|
|        [31.0,10.0]| 30000|27547.563805104444|
+-------------------+------+------------------+